@{
    ViewBag.Title = "The pH Scale";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        ul {
            font-family: sans-serif;
            color: black;
            font-size: 28px;
        }

        .actionlink {
            font-size: 30px;
            width: 8em;
            height: 2em;
            color: white;
            position: relative;
            margin-top: 0.8em;
            cursor: pointer;
        }

        .table-bordered {
            margin: 20px;
            border: thin solid #F0FFF0;
            padding: 10px;
        }

        image.pH {
            min-width: 50px;
        }

        .bottom-left {
            color: black;
            background-color: rgba(255,255,255,.8);
            border-radius: 0.5em;
            box-shadow: 0 0 1em rgba(0,0,0,.25);
            position: center;
            width: auto;
            height: auto;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 80px;
            margin-left: -20px;
            margin-top: 56px;
        }
    </style>
</head>
<body>
    <div class="table-bordered bottom-left">
        <h1>The pH scale</h1>
    </div>
    <div>
        <ul>
            <li> After indicators had been found to identify acids and alkalis,scientists wanted to know how to compare the strengths of acids and alkalis. </li>
            <li> In 1909,a Danish scientist called Søren Sørensen invented a scale called the <strong>pH scale</strong> to do just that.</li>
        </ul>
        <img src="https://quimicosnoob.files.wordpress.com/2011/06/sorensen4.jpg" alt="Picture of Soren Sorensen" width="284" height="300" />
        <img src="https://youngzine.org/sites/default/files/slideshow/science/ph-google.jpg" alt="Picture of Soren Sorensen" width="345" height="194" />
        <img src="https://cdn.vox-cdn.com/thumbor/C5fFNBzV5M4mEAgTYy_QtloiI2I=/0x0:550x395/920x613/filters:focal(241x106:329x194):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/59882971/478891.501.0.jpg" width="284" height="300" />
    </div>
    <div class="table-bordered">
        <ul>
            <li>
                The letters p and H stand for the 'power of hydrogen'
                <img src="https://www.differencebetween.com/wp-content/uploads/2011/11/Difference-Between-Hydrogen-Atom-and-Hydrogen-Ion_Figure-1.png" alt="Hydrogen Atoms" width="100" height="100" />
                because of this is an element that is found in acids,which takes an active part in their chemical reactions.
            </li>
        </ul>
    </div>
    <div class="table-bordered">
        <ul>
            <li>
                The pH scale runs from 0 to 14.On this scale,the strongest acid is 0 and the strongest alkali is 14.
            </li>
            <li>
                A strong acid has a pH of 8-11 and a strong alkali has a pH of 12-14.A solution with a pH of 7 is neutral.It is neither an acid nor an alkali.
            </li>
        </ul>
        <img src="https://www.pngitem.com/pimgs/m/686-6862307_transparent-ph-scale-clipart-hd-png-download.png" class="pH" alt="pH Scale" width="850" height="280" />
        <hr style="border-top: 2px dashed white;">
        <ul>
            <li>
                An electrical instrument called a pH meter is used to measure the pH of an acid or alkali accurately.
            </li>
        </ul>
        <img src="https://www.pngitem.com/pimgs/m/240-2407633_ph-meter-png-photo-ph-meter-ph-paper.png" alt="pH meter" width="215" height="226" />
        <ul> <li>
            For general laboratory use,the pH of an acid or an alkali is measured with universal indicator.
            This is made from a mixture of indicators. Each indicator changes colour over part of the range of the scale.
            By combining the indicators,a solution is made that gives different colours over the whole of the pH range.
        </li>
        </ul>
    </div>
</body>
</html>