@{
    ViewBag.Title = "What Are Acids?";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .table-bordered {
            margin: 20px;
            border: thin solid #F0FFF0;
        }

        img {
            border-radius: 10px;
        }

        .bigger {
            font-size: 30px;
        }

        ul {
            font-family: sans-serif;
            color: black;
            font-size: 25px;
        }

        .actionlink {
            font-size: 25px;
            width: 8em;
            height: 2em;
            color: white;
            position: relative;
            margin-top: 0.8em;
            cursor: pointer;
        }

        .bottom-left {
            color: black;
            background-color: rgba(255,255,255,.8);
            border-radius: 0.5em;
            box-shadow: 0 0 1em rgba(0,0,0,.25);
            position: center;
            width: auto;
            height: auto;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 70px;
            margin-left: -20px;
            margin-top: 56px;
        }

        h1{
            color:black;
        }
    </style>
</head>
<body>
    <div class="table-bordered bottom-left">
        <h1 stye="font-size:100px">What Are Acids ?</h1>
    </div>
    <div class="table-bordered">
        <ul>
            <li>
                <span class="bigger">M</span>ost people think of acids as corrosive liquids that fizz when they come into contact with solids and burn when they touch the skin.
            </li>

            <li>
                This description is <strong>true</strong> for many acids,and when they are being transported the container holding them has the hazard symbol shown.
            </li>
        </ul>
        <img src="https://labster-image-manager.s3.amazonaws.com/0bba338d-b04b-4905-9043-182f26a86f6a/hazard_symbol.en.x400.png" alt="Sodium Hydroxide" width="550" height="282" />
    </div>

    <div class="table-bordered">
        <h1>The acid in vinegar</h1>
        <ul>
            <li>
                <span class="bigger">E</span>thanoic acid is found in vinegar and is produced as wine becomes sour.
            </li>

            <li>
                The wine contains ethanol and also has some oxygen dissolved in it from the air.
            </li>
            <li>
                Over a period of time, the oxygen reacts with the ethanol and converts it to ethanoic acid.
            </li>

            <li>
                This chemical reaction happens more quickly if the wine is left uncorked.
            </li>
        </ul>
        <img src="https://thumbs.gfycat.com/GracefulAdeptAstarte-size_restricted.gif" alt="Potassium hydrox" width="320" height="180" />
    </div>
    <div class="table-bordered">
        <h1>Organic acids and mineral acids</h1>
        <ul>
            <li>
                <span class="bigger">T</span>he acids produced by plant and animals (with the exception of hydrochloric acid)are known as organic acids.
            </li>
            <li>Ethanoic acids is also an organic acid.</li>
            <li> Mineral acids are not produced by living things and their discovery began with the work of chemists such as Geber.</li>
            <li>The first mineral acid to be discovered was nitric acid.</li>
            <li>It was used to separate silver and gold.</li>
            <li>When the acid was applied to a mixture of the two metals it dissolved the silver but not the gold.</li>
            <li>Later,sulfuric acid and then hydrochloric acid were discovered.</li>
        </ul>
    </div>

    <div class="table-bordered">
        
            <h1>Acids found in animals and plants</h1>
        <ul>
    <li> Acids with plant origins</li>
    <li>Citric acid in orange and lemon juice</li>
    <li>Tartaric acid in grapes</li>
    <li>Ascorbic acid (vitamin C)in citrus fruits and blackcurrants</li>
    <li>Methanoic acid in nettle stings</li>
    </ul>
        <img src="https://i.gifer.com/PKgi.gif" alt="Vitamin c" width="400" height="274" />

</div>

</body>
</html>