@{
    ViewBag.Title = "WhatAreAlkalis";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .bottom-left {
            color: black;
            background-color: rgba(255,255,255,.8);
            border-radius: 0.5em;
            box-shadow: 0 0 1em rgba(0,0,0,.25);
            position: center;
            width: auto;
            height: auto;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 70px;
            margin-left: -20px;
            margin-top: 56px;
        }

        p {
            font-family: sans-serif;
            color: black;
            font-size: 23px;
        }

        .lead {
            width: 700px;
            border: 4px dashed white;
            padding: 10px;
            margin: 20px;
            text-align: center;
            font-size:28px;
        }

        .content1 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: black;
            font-size: 23px;
        }

        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
        }

            img:hover {
                box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
            }

        .a {
            list-style-type: square;
        }

        .actionlink {
            font-size: 25px;
            width: 8em;
            height: 2em;
            color: white;
            position: relative;
            margin-top: 0.8em;
            cursor: pointer;
        }

        .table-bordered {
            margin: 20px;
            border: thin solid #F0FFF0;
            padding: 10px;
            color:black;
        }

        ul{
            font-size:25px;
            color:black;
        }
    </style>
</head>
<body>
    <div class="table-bordered bottom-left">
        <h1 style="font-size:50px">What are alkalis?</h1>
    </div>
    <div>
        <ul>
            <li>
                In chemistry, an alkalis is a basic, ionic salt of an alkali metal or an alkaline earth metal.
            </li>
            <li>
                An alkali can also be defined as a base that dissolves in
                water.
            </li>
            <li>A solution of a soluble base has a pH greater than 7.0.</li>
            <li>
                The adjective alkaline is commonly, and alkalescent less often, used in
                English as a synonym for basic, especially for bases soluble in water.
            </li>
        </ul>
    </div>
    <p class="lead">Litmus paper turns blue, revealing an alkaline reaction.</p>
    <div class="table-bordered content1">
        <h2>1. Common labs alkaline include:</h2>
        <ul class="a">
            <li>Sodium hydroxide</li>
            <li style="list-style-type:none;"><img src="https://media2.giphy.com/media/Bzvgr3rDCSyuA/200.gif" alt="Sodium Hydroxide" width="356" height="200" /></li>
        </ul>
        <ul class="a">
            <li>Potassium hydroxide</li>
            <li style="list-style-type:none;"><img src="https://thumbs.gfycat.com/CleverMeanAfricanclawedfrog-size_restricted.gif" alt="Potassium hydroxide" width="240" height="180" /></li>
        </ul>
        <ul class="a">
            <li>Ammonia</li>
            <li style="list-style-type:none;"><img src="https://thumbs.gfycat.com/EqualBaggyHagfish-size_restricted.gif" alt="Ammonia" width="312" height="250" /></li>
        </ul>
    </div>

    <div class="table-bordered content1">
        <h2>2. Alkaline can be found in everyday products like:</h2>
        <ul class="a">
            <li>Oven cleaner</li>
            <li style="list-style-type:none;">
                <img src="https://res.cloudinary.com/powerreviews/image/upload/c_fill,d_portal-no-product-image_ttlfpi.svg,g_auto,h_400,q_auto,w_auto,z_0.5/d_portal-no-product-image_ttlfpi.svg/prod/ndvqcbopbxxuyuuraryw.jpg"
                     alt="Oven Cleaner" width="411" height="200" />
            </li>
        </ul>
        <ul class="a">
            <li>Baking soda</li>
            <li style="list-style-type:none;">
                <img src="https://i0.wp.com/post.healthline.com/wp-content/uploads/2020/06/baking-soda-water-and-wooden-spoon-1296x728-1.jpg?h=1528"
                     alt="Baking Soda" width="324" height="182" />
            </li>
        </ul>
        <ul class="a">
            <li>Drain unblocker</li>
            <li style="list-style-type:none;">
                <img src="https://media.tenor.com/images/4ee3668f0a912141692864a8388b658f/tenor.gif"
                     alt="Unblocker a Drain" width="220" height="161" />
            </li>
        </ul>
    </div>

</body>
</html>